//z-index
$base: 0;
$above: 10;
$below: -1;

:root {
  //colors
  --tui-background-accent-1: #204b57;
  --tui-background-accent-2: #125e8a;
  --tui-background-neutral-1: #c2b8b2;

  --tui-text-secondary: #7ad3ab;
  --tui-text-action: #204b57;
  --tui-text-action-hover: #197bbd;
  --tui-background-accent-1-hover: #125e8a;

  //z-index
  --toolbar: #{$above + $base}; //z-index: 10
  --hoverable-card-overlay: #{$above + $base + $below}; //z-index: toolbar - 1 => 9
  --button-overlay: #{$above + $base + $below}; //z-index: toolbar - 1 => 9
  --background-below: #{$below}; //z-index: -1
}
