.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 990px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px !important;
  }
}
