:root {
  --tui-background-accent-1: #204b57;
  --tui-background-accent-2: #125e8a;
  --tui-background-neutral-1: #c2b8b2;

  --tui-text-action: #204b57;
  --tui-text-action-hover: #197bbd;
  --tui-background-accent-1-hover: #125e8a;

  //secondary #125E8A
  //accent #197BBD
  //alt1 #C2B8B2
  //alt2 #8A716A
}
